/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px
}


@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.align-items-center {
    -ms-flex-align: center;
    align-items: center ;
}

@media (min-width: 1200px){

    .col-lg-3 {
        width: 25%;
    }
}


@media (min-width: 1200px){
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left;
    }
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 992px){

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    text-align: left;
    background-color: #0e0e0e ;
}

.brand-logo {
    text-align: center;
    width: 100%;
}

.pb-20 {
    padding-bottom: 20px!important;
}
.pt-20 {
    padding-top: 20px!important;
} */


/* //==================Definir el color de la pagina =======================// */
/* //==================Definir el color de la pagina =======================// */
/* .unique-color-dark{
    background-color: #0e0e0e !important; /*clase de boostrap*/
/* } */

/* //==================Definir el color de la pagina =======================// */
/* //==================Definir el color de la pagina =======================// */
/* @media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}


.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;


}
.pb-20 {
    padding-bottom: 20px!important;
}

.pt-20 {
    padding-top: 20px!important;
}

.align-items-center{
    align-items: center!important;
} */
/* ========================Navegador ============== */
.special-color-red{
    background-color: #FD0002; 
    border-radius: 18px;
     margin-bottom: 10px;
}

.main-header  nav a{
    /* color: white; */
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
    
}

/* 
.navbar .mega-dropdown .dropdown-menu.mega-menu {

    background: #333333 !important;
} */

/* ========================== ESTILOS DEL LOGIN =====================
========================== ESTILOS DEL LOGIN =====================
========================== ESTILOS DEL LOGIN =====================
========================== ESTILOS DEL LOGIN ===================== */
html,
body,

.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
 
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,

  .view {
    height: 650px;
  }
}

.rgba-gradient {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}




/* ========================= PANEL DEL CLIENTE =============== */
/* ========================= PANEL DEL CLIENTE =============== */
/* ========================= PANEL DEL CLIENTE =============== */
.myaccount-tab-menu a {
    border: 1px solid #ccc;
    border-bottom: none;
    color: #ffff;
    font-weight: 500;
    font-size: 13px;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myaccount-tab-menu  .active{
    background-color: #FD0002 ;
}


/* //======================ESTILOS DEL GENERO ===========================// */
/* //======================ESTILOS DEL GENERO ===========================// */
/* //======================ESTILOS DEL GENERO ===========================// */
.blue.lighten-5 {
    background-color: #333 !important;
}

.navGenero a{
   color: white;
   margin-top: 15px;
}

.navGenero a:hover{
    background-color: #FD0002 !important;
    border-radius: 16px !important;
}


.playlist{
    background: #333;
}

.playlist ul {
  color: white;
}
.playlist span {
    color: white;
  }




  .pagination .page-item .page-link {
    color: #fff !important;

}

.topDescripcionProducto{
    background: #333;
    color: white;
}

.topDescripcionProducto .topNombreTema{
    color: white !important;
    font-size:12px !important;
}


footer.page-footer {
    height: 320px !important;
}


/* ====================carrito de compras ============= */
/* ====================carrito de compras =============
====================carrito de compras ============= */

.buy:hover{
   cursor: pointer;
}


/* ====================OFERTA CARRUSEL ============= */
/* ====================OFERTA CARRUSEL =============
====================OFERTA CARRUSEL ============= */
.oferta {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    background-color: #fd0002;
}