   /* TEMPLATE STYLES */
.myaccount-tab-menu .active{
    background-color: #0247b1;
}
.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.jumbotron {
    text-align: center;
}

.navbar {
    background-color: #3b295a;
}


footer.page-footer {
    background-color: #3b295a;
    margin-top: 2rem;
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

/* .navbar ul li{
    display: inline-block;
    float: none;
} */

.contenedorCarrito{
    background-color: #0247b1;
    /* width: 50%; */
    /* height: 100%; */
}

/* .carrito p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
} */

.special-color-dark {
    background-color: #444444 !important;
}
@media (min-width: 992px){
    .ulNavegacixon .xx{
         padding-right: 2.8rem !important;
        padding-left: 2.1rem !important; 
        /* margin-left: 40px !important;
        margin-right: 20px !important; */
    }
}

.ulNavegacion{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}

/* =============centrar los ul li del nav =========== */
.navbar-nav {

    left: 40%;
    transform: translatex(-50%);
    position: relative;
}
.contenedorReproductos{

    width: 100%;
    height: 50px;
}
.ulNavegacion li{
  text-align: center;
  margin-left: 80px;
}

.navLatinEdit ul li a:hover{
    background-color: black;
} 

.buy{
    background-color: blue;
    width: 100%;
}


.navLatinEdit {
    background-color: transparent;
}

.navbar {
    background-color: rgba(0,0,0,0.18) !important; 
    
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navLatinEdit {
        background-color: #4285F4;
    }
}



/* //===========cuando hago scroll se hace trasparente el nav=============  */
.top-nav-collapse {
    
    background-color: #444444!important;
    
}


/* ========================campo tabla buy==================== */


.buy{
    background-color: #23539b;
}


.price {
   
    text-align: center;
    padding-top: 5px;
    background-color: #23539b;
}
.price span{
   
   color: white;

}

 .buy .addcarrito i{
    color: #fff;
    margin-right: 10px; 
    padding-top: 5px;
}

.reproducirContenedor .reproducir i{
    color: #0247b1;
    text-align: center;
    margin-right: 20px;
    padding-top: 5px;
}
.reproducirContenedor{
    background-color: #fff;
    cursor: pointer;
    
}


.buy{
    cursor: pointer;
}

/* =============SEPARACION DE LOS ITEMS DEL NAV=================== */
.dropdown:hover .dropdown-menu {display: block;
}

.contenedorLogin{
    padding-top: 40px;
}

/* ====================Tabla========== */

td {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* =======================Cortar texto ================ */
  .containerTopViral .media-body{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* ===================CORREGIR RESPONSIBE DE LOS REMIXER POR QUE ME DABA ERROR========= */
  @media screen and (max-width: 992px) {
    .navbar .dropdown-menu {
        position: relative !important;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar .dropdown-menu {
        position: relative !important;
    }
  }

  /* mi monitor  */
  @media screen and (max-width: 1024px) {
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
  }
  /* //======================TABLA RESPONSIVA======================// */

  @media screen and (max-width: 640px) {

    .containerTopViral{
        display: none;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
  }

  @media screen and (max-width: 823px) {
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
  }




  @media screen and (max-width: 600px) {
  

    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}

  

  
/* //=====================Option select==============================// */
.selectGeneroRemixer {
    text-transform: uppercase;
}

/* =======================Tabla productos car.php =========== */
.cart-table td{
    text-align: center;
}


.deleItemCar{
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.carritoVacio{
    text-align: center;
}

.smsIniciarSession{
    text-align: center;
}

/* ==========================Panel admin cliente================= */

.myaccount-content {
    border: 2px solid #eeeeee;
    padding: 30px;
    color: white;
}
.myaccount-content input{
 
    color: white;
}

.myaccount-content  i.fas.fa-cloud-download-alt {
    color: white;
}

.myaccount-tab-menu a {
    border: 1px solid #ccc;
    border-bottom: none;
    color: #444444;
    font-weight: 500;
    font-size: 13px;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myaccount-tab-menu a i.fa {
    font-size: 14px;
    text-align: center;
    width: 25px;
}

.tab-content .tab-pane.active {
    height: auto;
    opacity: 1;
    overflow: visible;
    visibility: visible;
}

.myaccount-content h3 {
    font-size: 22px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 400;
}

.myaccount-tab-menu a:last-child {
    border-bottom: 1px solid #ccc;
}

.bontIconosProducto i{
    font-size: 25px;
    text-align: center;
}

.remixerDropdown li {
 
    margin-left: 0px !important;
    text-transform: uppercase;
    font-size: 18px;

}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #0247b1;
}


/* ===========================   TOP   VIRAL ========================== */

.media-left  img {
    width: 85px;
}

.ratings span i  {
    color: yellow;
}

.list-group-item.active {

    background-color: #0247b1 !important;
    border-color: #0247b1 !important;
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
}

.list-group-item.active:hover {

    background-color: blue !important;
    border-color: blue !important;
    text-align: center;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
}

.list-group-item {

    background-color: #0d0d0d!important;
    /* border: 1px solid #343a40 !important; */
}
.media-body{
    color: white;
}
.media:hover p{
  color: #0247b1;
}
body{
background-color: #0d0d0d;
}

.tablaCabezera{
    background-color: #c6c6c6;
    text-align: center;
    color: black;
}
.cart-calculate-items {
    color: white;
}
select.form-control.form-control-sm.ml-3.w-60.selectGeneroRemixer {
    color: white;
}
select option  {
    background-color: black;
}



.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
*, ::after, ::before {
    box-sizing: border-box;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
 .table-dark{
    background-color: #0c0c0cde!important;
} 
tbody.dataProductos {
    color: white;
}
.opcionPago {
    color: white;
}

button.form-control.form-control-sm.ml-3.w-60.btnBuscar {
    color: white;
}

tr.trTotalPagar {
    color: white;
}


.myaccount-tab-menu a{
    color: white;
}

button.form-control.form-control-sm.ml-3.w-60.btnBuscar {
    background: #0247b1;
}
button.form-control.form-control-sm.ml-3.w-60.btnBuscar:hover {
    background: blue;
}

input.form-control.form-control-sm.ml-3.w-120 {
    color: white;
}

/* ============================Paginacion =========================== */
/* ============================Paginacion =========================== */
a.page-link.waves-effect.waves-effect {
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: #212529!important;
}

/* =====================Carrito tabla=========== */
@media screen and (max-width: 1024px){
    tr td:first-child {
        background: none!important
      
    }
}
/* ==========================CUPON DE DESCUENTO ================ */
input.form-control.inputCupon {
    color: white !important;
}

.disabledItemCupon{
display: none;
}

.colorDescuento p{
    color: #00c851 ;
    font-weight: bold;
}


.topNombreTema {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 30%;
    vertical-align: middle;
    font-size: 12px;
}


